body {

	width: 100%;
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;

	div#main-content {

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		min-height: 100%;

		div#dashboard {	
			width: 80%;

			div#dashboard-body {
				padding: .25rem;
			}

			@media screen and (min-width: 768px) {
				width: 85%;
			}

			@media screen and (min-width: 1050px) {
				width: 92%;
			}
		}
	}
}